{% extends 'PhotoPoolPoolBundle::layout.html.twig' %}

{% block viewer %}
    <h2 id="serieTitle"></h2>
      
      <div id="photos"></div>

      <div id="scroller" class="jThumbnailScroller">
        <div class="jTscrollerContainer">
          <div id="thumbs" class="jTscroller"></div>
        </div>
      </div>
{% endblock %}